:root {
    --primary-color: #00b5ff;
    --accent1-color: rgb(85, 88, 92);
    --accent2-color: #264653;
    --heading-font: "times New Roman", "Georgia", serif;
    --body-font: arial, helvetica, sans-serif;
}

.logo {
    width: 80px;
    height: auto;
}

header {
    display: grid;
    grid-template-columns: 120px 1fr 1fr;
    background-color: var(--primary-color);
    color: var(--accent2-color);
    padding: 0.7rem 1rem;
}

header nav {
    display: flex;
}

header nav a {
    border: 1px solid black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);

}

header,
main,
footer {
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
    justify-content: space-around;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #0998c0;
}

.namepage {
    position: static;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article {
    position: absolute;
    background-color: hsl(62, 82%, 54%);
    bottom: 20px;
    opacity: 0.7;
    width: 100%;

}

.hero article img {
    float: right;
    width: 125px;
}

footer {
    margin-top: 20px;
    text-align: center;
}

footer > .socialmedia {
    display: inline;
    float: right;
}

.socialmedia img {
    width: 20px;
    height: 20px;
}

.history {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    align-items: center;
    border: 1px solid black;
    background-color: rgb(150, 146, 146);
}

.history-box {
    margin-top: 0.7rem;
    border: 2px;
    background: rgb(219, 227, 228);
    padding: 1rem;
}

.history-text p {
    margin: 0 0 0.75rem 0;
    line-height: 1.4;
}

.history-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.adventure-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    text-align: center;

}

.adventures {
    border: 1px solid black;
    background-color: rgb(149, 189, 189);
}

figure {
    border: 1px solid black;
}

figure img {
    width: 100%;
    height: auto;
}

.adventures h2 {
    text-align: center;
}

footer p {
    text-align: center;
}

.map {
    display: grid;
    margin: 20px;
    grid-template-columns: 1fr 1fr;

}

.adress {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;

}

form {
    width: 600px;
    /* margin: 0 auto; */
    padding: 2rem;
    border: 1px solid rgb(0 0 0 / 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    /* display: grid; */
    /* align-items: flex-end; */
}

form label {
    align-items: center;
}

form input [type="text"],
form input [type="Email"],
form textarea {
    width: 150px;
    box-sizing: border-box;
    padding: 5px;
    border: 1px solid #888;
    border-radius: 2px;
}

form input [type="radio"] {
    margin: 0 5px 0 0;
}

.message {
    height: 40px;
}

form input [type="checkbox"] {
    margin: 0;
}

form button {
    grid-column: 1/3;
    width: 210px;
    padding: 4px;
}

.serve-container > h2 {
    text-align: center;
    margin-bottom: 1em;
    border: 1px solid;
}

.serve-container {
    margin-inline: 20px;
    background-color: rgb(215, 213, 213);
}

.Employeeprofile {
    /* border: 1px; */
    text-align: center;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-around;
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr 1fr; */
}

.Employeeprofile figure {
    width: 200px;
}

.first-field-group {
    display: flex;
    gap: 3em;
    /* border: 1px solid; */
}

.first-field-group > div {
    /* border: 1px solid; */
}

.first-field-group label {
    display: block;
}

.label-left > * {
    display: block;
    margin-block: 5px;
}

.label-right > input {
    display: block;
    margin-block: 5px;
    width: 100%;
}

.message-purpose-container label {
    display: block;
    margin-block: 5px;
}

.text-area-container label {
    display: block;
}

.text-area-container textarea {
    width: 100%;
}

button {
    background-color: #e2dcdc;
    border: 1px solid;
    border-radius: 5px;
    width: 100%;
}

/* form label :has (input[type="radio"]) {
    grid-row: 2;
} */

/*.history {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 2;
}
    