:root {
    --primary-color: #0998c0;
    --accent1-color: #f45;
    --accent2-color: #264653;
    --heading-font: "times New Roman", "Georgia", serif;
    --body-font: arial, helvetica, sans-serif;
}

.logo {
    width: 80px;
    height: auto;
}

header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);

}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

h1 {
    position: absolute;
    top: 20px;
    width: 810px;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #0998c0;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article {
    position: absolute;
    background-color: hsl(62, 82%, 54%);
    bottom: 20px;
    opacity: 0.7;
    width: 700px;

}

.hero article img {
    float: right;
    width: 125px;
}

.socialmedia img {
    width: 20px;
    height: 20px;
}